/* Colors */
:root {
    --navbar-item-border: #4E5166;
    --navbar-contact: #4E5166;
    --section-card-border: #4E5166;
    --section-background: ghostwhite;
}

h1 {
    color: red;
}

body {
    background-color: black;
}

p {
    margin: 0;
}

.navbar-brand-image {
    width: 32px;
    border-radius: 5px;
}

@media screen and (min-width: 992px) {
    .navbar-item-border-first {
        border-left: 1px var(--navbar-item-border) solid;
        border-right: 1px var(--navbar-item-border) solid;
    }

    .navbar-item-border-after {
        border-right: 1px var(--navbar-item-border) solid;
    }

    .section-base-mobile {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

.margin-auto {
    margin-left: auto;
}

.navbar-contact {
    font-size: 24px;
    padding-left: 5px;
}

.navbar-contact i {
    color: var(--navbar-contact);
}

.navbar-base {
    margin: 20px;
    border-radius: 20px;
    border: 1px var(--section-card-border) solid;
    background-color: var(--section-background);
}

.section-base {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px var(--section-card-border) solid;
    background-color: var(--section-background);
}

.footer-base {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px var(--section-card-border) solid;
    background-color: var(--section-background);
}

.section-image {
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
}